@using StMagazine.ViewModels.CViewModel;
@model CoursCreateViewModel;
@{
    ViewBag.Title = "Добавление курс";
}
<form asp-antiforgery="true" asp-action="create" asp-controller="Cours" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Number" class="control-label">Номер курса</label>
        <input type="number" asp-for="Number" class="form-control" />
        <span asp-validation-for="Number"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="button7" />
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}