@model StMagazine.ViewModels.GVewModel.GroupEditViewModel
@{
    ViewBag.Title = "Редактирование группы";
}
<form asp-area="Admin" asp-action="edit" asp-controller="AdminGroup" enctype="multipart/form-data">
    <input hidden asp-for="GroupId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Год</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Speciality" class="control-label">Специальность</label>
        <input type="text" asp-for="Speciality" class="form-control" />
    </div>
    <div class="=form-group">
        <label asp-for="TeacherId" class="control-label">Куратор</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers"></select>
    </div>
    <div class="=form-group">
        <label asp-for="CoursId" class="control-label">Курс</label>
        <select asp-for="CoursId" asp-items="ViewBag.Courses"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="button7" />
    </div>
</form>