
<table class="table">
    <tr>
        <td><a class ="btn btn-outline-success my-2 my-sm-0" asp-area="Admin" asp-controller="AdminSt" asp-action="Index"> Студенты
        </a></td>
    <td><a class="btn btn-outline-success my-2 my-sm-0" asp-area="Admin" asp-controller="AdminTeacher" asp-action="Index">Учителя
        </a></td>
    <td><a class="btn btn-outline-success my-2 my-sm-0" asp-area="Admin" asp-controller="AdminGroup" asp-action="Index">Группы
        </a></td>
    <td><a class="btn btn-outline-success my-2 my-sm-0" asp-area="Admin" asp-controller="AdminItem" asp-action="Index">Предметы
        </a></td>
    <td><a class="btn btn-outline-success my-2 my-sm-0" asp-area="Admin" asp-controller="AdminCours" asp-action="Index">Курсы
        </a></td>
    </tr>

</table>
